<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>springmvc-01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  
  <!-- Spring监听器  加载 context  -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- POST提交乱码解决 -->
  <filter>
  	  <filter-name>encoding</filter-name>
  	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	  <init-param>
  	  	<param-name>encoding</param-name>
  	  	<param-value>UTF-8</param-value>
  	  </init-param>
  </filter>
  <filter-mapping>
   	<filter-name>encoding</filter-name>
   	<url-pattern>*.action</url-pattern>
  </filter-mapping>

  
  <!-- 前端控制器 -->
  <servlet>
  	  <servlet-name>springmvc</servlet-name>
  	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	  <init-param>
  	  	  <param-name>contextConfigLocation</param-name>
  	  	  <param-value>classpath:springmvc.xml</param-value>
  	  </init-param>
  	  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	 <servlet-name>springmvc</servlet-name>
  	 <!-- 
  	    1: *.action *.do    拦截所有以.action .do 结尾的请求    后台开发  
  	    2:/*                拦截所有请求（包含.js .css .png .jpg .jsp)  全拦截     不建议使用此种方式  
  	    3:/                 拦截所有请求（包含.js .css .png .jpg) （不包含.jsp)   建议此种 方式开发前台  对静态资源进行放行   
  	  -->
  	 <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
</web-app>